{
    "swagger": "2.0",
    "info": {
        "title": "Eventos ITESM",
        "description": "Events WEB API",
        "version": "1.0.0"
    },
    "host": "rerum.me",
    "schemes": [
        "http"
    ],
    "basePath": "/",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/api/user": {
            "get": {
                "summary": "Gets all users",
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "description": "An array of Users",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/user/$id": {
            "get": {
                "summary": "Get a specific user",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "User Id",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "description": "An array of Users",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/event": {
            "get": {
                "summary": "Gets all events",
                "tags": [
                    "Events"
                ],
                "responses": {
                    "200": {
                        "description": "An array of Events",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Event"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/event/$id": {
            "get": {
                "summary": "Get a specific event",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Event Id",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "Events"
                ],
                "responses": {
                    "200": {
                        "description": "A specific event",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Event"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/event/$id/schedule": {
            "get": {
                "summary": "Get all schedules for an event",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Event Id",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "Schedules"
                ],
                "responses": {
                    "200": {
                        "description": "All schedules for a specific event",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Schedule"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/event/$id/rsvp": {
            "get": {
                "summary": "Get all rsvps for an event",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Event Id",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "RSVPs"
                ],
                "responses": {
                    "200": {
                        "description": "All rsvps for a specific event",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/RSVP"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/event/$id/rsvp/$userId": {
            "get": {
                "summary": "Get the rsvp for an event for a specific user",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Event Id",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "RSVPs"
                ],
                "responses": {
                    "200": {
                        "description": "The rsvp for an event for a specific user",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/RSVP"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/event/$id/blog": {
            "get": {
                "summary": "Get all BLOGs for an event",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Event Id",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "Blogs"
                ],
                "responses": {
                    "200": {
                        "description": "All BLOGs for a specific event",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Blog"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "User": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "role": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "modify_date": {
                    "type": "integer"
                }
            }
        },
        "Schedule": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "start_date": {
                    "type": "integer"
                },
                "end_date": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                }
            }
        },
        "RSVP": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "id_user": {
                    "type": "integer"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "Event": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "place": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "date": {
                    "type": "integer"
                },
                "description": {
                    "type": "string"
                }
            }
        },
        "Blog": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "id_user": {
                    "type": "integer"
                },
                "text": {
                    "type": "string"
                }
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        }
    }
}