{% extends "base/template.html.twig" %}
{% block content %}
    <main>
      <div class="row">
        <div class="col s12 m6 offset-m3">
            <table>
              <tbody>
                <tr>
                  <td class="center"><a href="/chat/delete/{{conversation}}" class="waves-effect waves-light btn white-text cyan darken-2 modal-trigger"><i class="mdi-action-delete left"></i>Borrar Chat</a></td>
                  <td class="center"><a href="/blockUser/{{conversation}}" class="waves-effect waves-light btn white-text cyan darken-2 modal-trigger"><i class="mdi-content-block left"></i>Bloquear Usario</a></td>
                </tr>
              </tbody>
            </table>
          <div id="messages" style="overflow-y: auto; max-height:450px">
          </div>
      </div>
    </div>
      <div class="row">
        <form class="col s12 m6 offset-m3" id="messageForm" method="post" action="/chat/reply/{{conversation}}">
          <div class="row">
            <div class="input-field col s12">
              <textarea name="message" id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Escribe un msj...</label>
            </div>
            <div class="input-field col s6">
             <a href="/chat" class="waves-effect waves-light btn-large" style="float:left"><i class="material-icons right">email</i>Cerrar chat</a>
           </div>
             <div class="input-field col s6">
             <a href="javascript:{}" onclick="document.getElementById('messageForm').submit();" class="waves-effect waves-light btn-large" style="float:right"><i class="material-icons right">reply</i>Responder</a>
            </div>
          </div>
        </form>
      </div>
    </main>
    {% endblock content %}
    {% block customjs %}
    <script>
      $(document).ready(function(){
        var data = {{ data|json_encode|raw}};
        var inbox = document.getElementById("messages");
        for(i=0; i<data.length; i++) {
          var message = document.createElement('div');
          var name = document.createElement("p");
          var msg = document.createElement("p");
          var time = document.createElement("p");

          if (i % 2 == 0) {
            message.style.backgroundColor = "ghostwhite";
          }
          else {
            message.style.backgroundColor = "white";
          }
          name.innerHTML = "<b>" + data[i].first_name + " " + data[i].last_name + "</b>";
          msg.innerHTML = data[i].message;
          time.innerHTML = data[i].time;
          message.appendChild(name);
          message.appendChild(msg);
          message.appendChild(time);
          inbox.appendChild(message);
        }
        $('#messages').scrollTop($('#messages')[0].scrollHeight);
         $(".button-collapse").sideNav();
      });
    </script>
    {% endblock customjs %}
