<html>
  <head>
    <title>Eventos - ITESM</title>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../web/css/materialize.min.css"  media="screen,projection"/>
    <style>
    </style>
    <meta charset="UTF-8"></meta>
  </head>
  <body class="white">
    <div class="container">
      <div class="row">
        <img src="icono1.png" style="width:40%; margin-left:30%; padding-top: 50px;" />
      </div>
      <div class="row">
        <div class="col s12 m6 offset-m3">
          <div class="card">
            <form id="loginForm" action="/login" method="POST">
              <div class="card-content black-text">
                <div class="input-field col s12">
                  <i class="mdi-action-account-circle prefix"></i>
                  <input name="email" id="email" type="text" class="validate"  value="{{ email_value }}" />
                  <span class="error">{{ email_error }}</span></p>
                  <label for="user">Email</label>
                </div>
                <div class="input-field col s12">
                  <i class="mdi-action-lock prefix"></i>
                  <input name="password" id="password" type="password" class="validate">
                  <span class="error">{{ password_error }}</span></p>
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="card-action">
                <a href="../signup" class="btn waves-effect waves-light modal-trigger button" style="margin-bottom:20px; margin-left: 20px;" id="signin-btn">Sign Up
                  <i class="mdi-content-send right"></i>
                </a>
                <button type="submit" form="loginForm" value="Login" class="btn waves-effect waves-light" style="float:right; margin-bottom:20px; margin-right: 20px;" id="login-btn">Log In
                  <i class="mdi-content-send right"></i>
                </button>
                <br>
                <a href="#modal2" class="blue-text modal-trigger" style="margin-left: 20px;">Forgot Password</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- modal form: alta rutas -->
    <div class="modal" id="modal1">
      <div class="modal-content">
        <h3 class="center">Register</h3>
        <form class="col s12" id="form-id">
          <div class="row">
            <div class="input-field col s12">
              <input name = "nombre" id="name" type="text" class="validate">
              <label for="nombre">Name</label>
            </div>
            <div class="input-field col s6">
              <input name = "username" id="username" type="text" class="validate">
              <label for="username">Username</label>
            </div>
            <div class="input-field col s6">
              <input name = "email" id="mail" type="email" class="validate">
              <label for="email">Email</label>
            </div>
            <div class="input-field col s6">
              <input name = "password" id="pass" type="password" class="validate">
              <label for="password">Password</label>
            </div>
            <div class="input-field col s6">
              <input name = "confpassword" id="confpassword" type="password" class="validate">
              <label for="confpassword">Confirm Password</label>
            </div>
          </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="submit-id" onclick="agregarABase()">Submit</a>
                <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
            </div>
        </form>
      </div>

    </div>
    <!-- Termino del modal -->

    <!-- modal form: alta rutas -->
    <div class="modal" id="modal2">
      <div class="modal-content">
        <h3 class="center">Having trouble signing in?</h3>
        <form class="col s12" id="forgot-id">
          <div class="row">
            <div class="input-field col s12">
              <input name = "email" id="mail" type="email" class="validate" required>
              <label for="email">Email</label>
            </div>
          </div>
            <div class="modal-footer">
                 <button type="submit" form="forgot-id" value="Login" class="btn waves-effect waves-light" style="float:right; margin-bottom:20px; margin-right: 20px;" id="forgot-btn">Send Mail
                  <i class="mdi-content-send right"></i>
                </button>
                <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
            </div>
        </form>
      </div>
    </div>
    <!-- Termino del modal -->

    <script src="../web/js/jQuery.min.js"></script>
    <script type="text/javascript" src="../web/js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.modal-trigger').leanModal({
         dismissible: true
        });
      });
    </script>
  </body>
</html>
