{% extends "base/template.html.twig" %}

{% block nav %}
{% endblock nav %}
{% block body %}
<body class="cyan login-body">
{% endblock body %}
{% block sidebar %}
{% endblock sidebar %}
{% block content %}
  <div class="container full-height">
    <div class="row full-height" style="margin-bottom: 0px;">
      <div class="col s12 m6 l4 offset-m3 offset-l4 login-wrapper">
        <div class="col s12 m10 offset-m1  z-depth-4 card-panel login">
          <form class="login-form" action="/admin/login" method="POST">

            <div class="row">
              <div class="input-field col s12 center">
                <img src="/web/img/logo2.png" alt="" class="circle responsive-img valign profile-image-login">
                <p class="center login-form-text">Administrador de Eventos</p>
              </div>
            </div>

            <div class="row margin">
              <div class="input-field col s12">
                <i class="mdi-social-person-outline prefix"></i>
                <input id="username" name="email" type="text">
                <label for="username" name="email" class="center-align">E-Mail</label>
              </div>
            </div>

            <div class="row margin">
              <div class="input-field col s12">
                <i class="mdi-action-lock-outline prefix"></i>
                <input id="password" name="password" type="password">
                <label class="" for="password">Contraseña</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m12 l12  login-text">
                  <input id="remember-me" type="checkbox">
                  <label for="remember-me">Recuérdame</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <button type="submit" class="btn waves-effect waves-light col s12 pink accent-2">Ingresar</a>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s8 m8 l8 offset-s3 offset-m3 offset-l3">
                  <p class="margin right-align medium-small"><a href="/admin/signup">Nuevo Usuario</a></p>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block endmain %}
{% endblock endmain %}
